<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatApp</title>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="navbar">

    </div>
    <div class="main">
        <div class="side-menu">
            <a class="room-button" href="#">Room</a>
            <a class="room-button" href="#"><strong>+</strong></a>
        </div>
        <div class="chat">
            @RenderBody()
        </div>
    </div>
</body>
</html>