<div class="chat-body">
    @for (int i = 0; i < 10; i++)
    {
     <div class="message">
        <header>Jhn:</header>
        <p>This is a test message</p>
        <footer>16:00</footer>
    </div>

    <div class="message">
        <header>Bob Marley:</header>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s </p>
        <footer>16:02</footer>
    </div>
    }
</div>

<div class="chat-input">
    <input type="text">
    <button>Send</button>
</div>